* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/GenericDao.tmplt -text
src/main/java/GenericDaoInterface.tmplt -text
src/main/java/META-INF/MANIFEST.MF svneol=native#text/plain
src/main/java/TABLENAMEController.tmplt -text
src/main/java/TABLENAMEHome.tmplt -text
src/main/java/TABLENAMEService.tmplt -text
src/main/java/dispatcher-servlet.tmplt -text
src/main/java/edu/uiowa/hibernate/CreateDAO.java -text
src/main/java/edu/uiowa/hibernate/CreateJSP.java -text
src/main/java/edu/uiowa/hibernate/FileContents.java -text
src/main/java/edu/uiowa/loaders/DBConnect.java -text
src/main/java/edu/uiowa/loaders/JDBCReader.java -text
src/main/java/edu/uiowa/loaders/PrivateReader.java -text
src/main/java/edu/uiowa/loaders/PropertyLoader.java -text
src/main/java/edu/uiowa/loaders/generic.java -text
src/main/java/edu/uiowa/spring/CreateController.java -text
src/main/java/edu/uiowa/spring/SpringConfiguration.java -text
src/main/java/edu/uiowa/webapp/Attribute.java -text
src/main/java/edu/uiowa/webapp/ClassVariable.java -text
src/main/java/edu/uiowa/webapp/ClayElement.java -text
src/main/java/edu/uiowa/webapp/ClayLoader.java -text
src/main/java/edu/uiowa/webapp/ConfigGenerator.java -text
src/main/java/edu/uiowa/webapp/ControllerGenerator.java -text
src/main/java/edu/uiowa/webapp/DAOGenerator.java -text
src/main/java/edu/uiowa/webapp/Database.java -text
src/main/java/edu/uiowa/webapp/DatabaseSchemaLoader.java -text
src/main/java/edu/uiowa/webapp/Domain.java -text
src/main/java/edu/uiowa/webapp/DomainClass.java -text
src/main/java/edu/uiowa/webapp/DomainCodeGenerator.java -text
src/main/java/edu/uiowa/webapp/Entity.java -text
src/main/java/edu/uiowa/webapp/Generator.java -text
src/main/java/edu/uiowa/webapp/JDBCLoader.java -text
src/main/java/edu/uiowa/webapp/JSPCodeGenerator.java -text
src/main/java/edu/uiowa/webapp/JSPGenerator.java -text
src/main/java/edu/uiowa/webapp/Relationship.java -text
src/main/java/edu/uiowa/webapp/Schema.java -text
src/main/java/edu/uiowa/webapp/TLDGenerator.java -text
src/main/java/edu/uiowa/webapp/TagClassGenerator.java -text
subversion/config -text
