* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.eclipse.wst.validation.prefs -text svneol=unset#text/plain
.settings/org.hibernate.eclipse.console.prefs -text svneol=unset#text/plain
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/META-INF/MANIFEST.MF svneol=native#text/plain
src/main/java/dispatcher-servlet.tmplt -text
src/main/java/edu/uiowa/icts/plugin/protogen/Clean.java -text svneol=unset#text/plain
src/main/java/edu/uiowa/icts/plugin/protogen/WebApp.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/protogen/springhibernate/AbstractSpringHibernateCodeGenerator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/protogen/springhibernate/BaseTestCodeGenerator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/icts/protogen/springhibernate/ClassVariable.java -text
src/main/java/edu/uiowa/icts/protogen/springhibernate/ColumnDeobfuscationCodeGenerator.java -text svneol=unset#text/plain
src/main/java/edu/uiowa/icts/protogen/springhibernate/ControllerCodeGenerator.java -text
src/main/java/edu/uiowa/icts/protogen/springhibernate/DAOCodeGenerator.java -text
src/main/java/edu/uiowa/icts/protogen/springhibernate/DomainClass.java -text
src/main/java/edu/uiowa/icts/protogen/springhibernate/DomainCodeGenerator.java -text
src/main/java/edu/uiowa/icts/protogen/springhibernate/JSPCodeGenerator.java -text
src/main/java/edu/uiowa/icts/protogen/springhibernate/SpringHibernateModel.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/loaders/DBConnect.java -text
src/main/java/edu/uiowa/loaders/JDBCReader.java -text
src/main/java/edu/uiowa/loaders/PrivateReader.java -text
src/main/java/edu/uiowa/loaders/PropertyLoader.java -text
src/main/java/edu/uiowa/loaders/generic.java -text
src/main/java/edu/uiowa/webapp/Attribute.java -text
src/main/java/edu/uiowa/webapp/ClayElement.java -text
src/main/java/edu/uiowa/webapp/ClayLoader.java -text
src/main/java/edu/uiowa/webapp/Database.java -text
src/main/java/edu/uiowa/webapp/DatabaseSchemaLoader.java -text
src/main/java/edu/uiowa/webapp/Domain.java -text
src/main/java/edu/uiowa/webapp/Entity.java -text
src/main/java/edu/uiowa/webapp/Generator.java -text
src/main/java/edu/uiowa/webapp/JDBCLoader.java -text
src/main/java/edu/uiowa/webapp/JSPGenerator.java -text
src/main/java/edu/uiowa/webapp/Relationship.java -text
src/main/java/edu/uiowa/webapp/Schema.java -text
src/main/java/edu/uiowa/webapp/TLDGenerator.java -text
src/main/java/edu/uiowa/webapp/TagClassGenerator.java -text
src/test/java/edu/uiowa/icts/protogen/GeneratorTest.java svneol=native#text/x-java-source
src/test/java/edu/uiowa/icts/protogen/JDBCTest.java -text svneol=unset#text/plain
src/test/resources/Model.clay -text svneol=unset#text/xml
src/test/resources/demographics-base.clay -text svneol=unset#text/xml
src/test/resources/pilot-base.clay -text svneol=unset#text/xml
src/test/resources/ryanlorentzen.clay -text
src/test/resources/ryanlorentzen.sql -text
src/test/resources/scilink.clay -text
subversion/config -text
