/* 
ICTS Template
*/

body,img,h1,h2,h3,h4,h5,h6,ul,li,p,a,form {
	margin: 0px;
	
	padding: 0;
	border: none;
	font-size: 1em;
}


.alert {
	color: #F00;
}

#content
{
	font-size: .9em;
	margin-top: 30px;
	margin-left: 70px;
	}

div.errorMessage 
{
color:#F22;
}
	
div.helpMessage 
{
font-size: .9em;
font-style: italic;
}
input:focus, select:focus, textarea:focus {
outline: 1px solid red;
}

