/* 
ICTS Template
*/
body, img, h1, h2, h3, h4, h5, h6, ul, li, p, a, form {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	background: #000000 url(../images/bg-content.png) repeat-y center;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: .85em;
	line-height: 1.5em;
	color: #000000;
}
h2 {
	border-bottom: 1px dotted #666666;
	font-family: Georgia,"Times New Roman",Times,serif;
	margin: 20px 0;
	font-size: 1.25em;
}
p {
	padding: 0 30px 10px 0;
}
a {
	color: #B08200;
}
a:hover {
	background-color: #EAEAEA;
}
/* Lists */
.bulletedList {
	list-style-image: url(../images/bullet-l1.gif);
}
.bulletedList li ul {
	list-style-image: none;
}
/* University Top Header */
#roof {
	background: #000000 url(../images/bg-top.png) repeat-x;
	height: 24px;
}
#roof div {
	width: 960px;
	text-align: right;
	padding-right: 165px;
	margin: 0 auto;
}
#roof a {
	margin: 0 auto;
}
#roof a:hover {
	background: none;
}
#content {
	width: 960px;
	margin: 0 auto;
	background: #ffffff;
}
/* Header */
#primaryNav {
	height: 40px;
	background: url(../images/bg-roof.png) repeat-x;
	font-size: 12px;
}
#primaryNav li {
	float: left;
	list-style-type: none;
}
#primaryNav a {
	border-right: 1px solid #999999;
	padding: 10px 15px;
	display: block;
	color: #333333;
	text-decoration: none;
	font-variant: small-caps;
}
#primaryNav a:hover {
	background: url(../images/bg-roof-over.png);
	color: #333333;
}
#primaryNav a.current  {
	background: #ffffff;
}
#primaryNav form {
	float: right;
	padding: 7px 20px 0 0;
}
#banner {
	height: 100px;
	padding: 10px 10px;
	text-align: center;
}
/* Left Column */
#leftCol {
	width: 180px;
	float: left;
	clear: left;
	font-size: .90em;
}
#leftCol h3 {
	color: #444444;
	font-size: 1.1em;
	border-bottom: 3px solid #E0AA00;
	text-align: right;
}
#leftCol ul {
	list-style-type: none;
	margin-bottom: 2em;
	line-height: 1.2em;
}
#leftCol a {
	border-bottom: 1px dotted #cccccc;
	display: block;
	color: #333333;
	text-decoration: none;
	padding: 2px 0 2px 15px;
	text-indent: -5px;
}
/* Left Stripe */
#leftStripe {
	float: left;
	width: 65px;
	margin-top: 15px;
	font-size: 1em;
	margin: 15px 5px 0px 15px;
	
}
#leftStripe h3 {
	color: #444444;
	border-bottom: 4px solid #E0AA00;
	font-size: .80em;
}

#leftStripe ul {
	list-style-type: none;
	margin-bottom: 2em;
	line-height: 1.5em;
}
#leftStripe ul li { 
	background: #dddddd;
	border-bottom: 1px solid #999999;
	text-indent: 5px;
}
#leftStripe a {
	color: #B08200;
	text-decoration: underline;
	padding: 5px 3px 5px 0px;
}
#centerCol {
	float: right;
	width: 650px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 10px;
	font-size: .90em;
}
/************************/
/* Multipurpose Classes */
/************************/
.left {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.clear {
	clear: both;
}
/* Table */

table {

	background-color: none;
}

table th {
	background-color: #eeeeee;
	font-size: .90em;
	line-height: 1.5em;
}
table td {
	background-color: #eeeeee;
	font-size: .90em;
	line-height: 1.5em;
	color: #000000;
}
table a {
	color: #CC9900;
}

/*this is to keep page from shifting to left on load in safari and firefox*/

html { min-height: 100%; margin-bottom: 1px; }

html { overflow: -moz-scrollbars-vertical !important; }